@media(max-width: 430px) {

    main .deck {
        position: relative;
        bottom: 40px;
    }

    main .buttons {
        position: relative;
        top: 190px;
    }

    main .buttons.left {
        position: relative;
        left: 100px;
    }

    main .buttons.right {
        position: relative;
        right: 100px;
    }
}

@media(max-height: 680px) {

    body {
        overflow: auto;
    }

    header {
        height: 12vh;
    }

    main {
        height: 88vh;
    }
    
}

@media (max-height: 560px) {
    body {
        overflow: auto;
    }

    header {
        display: none;
    }

    main {
        height: 100%;
        overflow-y: auto;
        overflow-x:hidden;
    }
}


/*@media (max-height: 530px) {

    body {
        overflow: hidden;
    }

    header {
        display: none;
    }

    main {
        height: 100%;
        overflow-y: auto;
        overflow-x:hidden;
    }

    main .deck {
        bottom: 10px;
    }

    main .buttons {
        position: relative;
        top: 204px;
    }

    main .buttons.left {
        position: relative;
        left: 100px;
    }

    main .buttons.right {
        position: relative;
        right: 100px;
    }
    
}*/